.userData {
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  margin: 20px auto;
  width: 400px;
  min-height: 100px;
  background-color: rgb(92, 92, 199);

  &__name {
    padding: 20px 0px 0px;
  }

  &__reset {
    // width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}