.userData {
  margin: 30px auto;
  width: 400px;
  min-height: 100px;
  background-color: rgb(132, 165, 255);
  // color: #;

  &__name {
    padding: 20px 0px 0px;
  }

  &__reset {
    // width: 100px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}