.userData {
  margin: 30px auto;
  width: 400px;
  min-height: 100px;
  background-color: rgb(132, 165, 255);
  border-radius: 10px;

  &__p {
    margin: 0;
    padding: 5px 0;
  }

  &__categories {
    
  }

  &__category {
    margin: 24px 0;
    min-height: 50px;
  }

  &__reset {
    margin: 0 auto;
    margin-bottom: 20px;
  }


}